

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Product</title>
</head>
<body>
    <h2>Are you sure you want to delete this product</h2>
    <h2>Are you sure you want to delete this Subcategory?</h2>

    <p>Product: {{product.product_name}}</p>
    <img src="{{ image.image.url }}" alt="{{ product.product_name }}" width="100">

    
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
    </form>

    <a href="/">cancel</a>

</body>
</html>